.merah {
    border-color: red;
    color: red;
}

.kuning {
    border-color:yellow;
    color:yellow;
}

.hijau {
    border-color: green;
    color: green;
}

.biru {
    border-color: blue;
    color: blue;
}
.kotak-tengah {
    margin: auto;
    height: 100px;
    width: 100px;
    border-width: 1px;
    border-style: solid;
}
.kotak {
    margin: 10px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

