.container {
    flex: 1;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.flex {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    background-color: blue;
    height: 100px;
    margin: 10px;
}

.satu {
    flex: 1;
}

.dua {
    flex: 2;
}