.box {
    width: 200px;
    height: 200px;
    animation-duration: 5s;
    animation-timing-function: calc();
    animation-iteration-count: infinite;
    position: relative;
}

.animation1 {
    background-color: rgb(255, 0, 0);
    animation-name: box-move;
}

.animation2 {
    background-color: yellow;
    animation-name: box-move2;
}
/* deklarasi untuk membuat animasi = keyframes */
@keyframes box-move {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 200px;
        top: 0;
    }

    50% {
        left: 200px;
        top: 200px;
        border-radius: 100px;
        background-color: blue;
    }

    75% {
        left: 0;
        top: 200px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

@keyframes box-move2 {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 0px;
        top: -200px;
    }

    50% {
        left: 200px;
        top: -200px;
        border-radius: 100px;
        background-color: blue;
    }

    75% {
        left: 200px;
        top: 0;
    }

    100% {
        left: 0;
        top: 0;
    }
}