.container {
    background-color: red;
    width: 90%;
    height: 500px;
    margin: auto;
}

.float {
    float:left;
    width: 33.333%;
}

.blue {
    height: 200px;
    padding: 1.5%;
    width: 97%;
}

.background {
    background-color: blue;
    height: 100%;
    width: 100%;
}

